[build]
  base = "/"
  command = "export NPM_TOKEN='' && echo 'registry=https://registry.npmjs.org/' > .npmrc && npm install --legacy-peer-deps && npm run build"
  publish = "dist/public"

[build.environment]
  NODE_VERSION = "20"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
